.container {
  width: 100vw;
  height: 100vh;

  .menu_overlay {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    bottom: 2rem;
    padding: .5rem 1rem;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(96, 106, 143, 0.33);
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    transition: transform ease-in-out 100ms;

    &:hover {
      transform: translate(calc(-50% + 1px), -1px);
    }

    button {
      all: unset;
      font-size: 1rem;
      font-weight: 500;
    }

  }
}