
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submitContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.form {
  margin: auto;
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.container {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  height: 40px;
  position: relative;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: .9rem;
  color: var(--light_text);
  width: 100%;
}

.div_icon {
  position: relative;
  border: 1px solid var(--light_gray);
  border-radius: 15px;
  display: flex;
  gap: .3rem;
  padding: .2rem .8rem;
  align-items: center;
  justify-content: left;
}
.input:focus {
  outline: none;
}
.img {
  height: 24px;
  width: 24px;
}

.input:focus {
  outline: none;
}

.div_icon {
  position: relative;
  border: 1px solid var(--light_gray);
  border-radius: 15px;
  display: flex;
  gap: .3rem;
  padding: .2rem .8rem;
}

.submitContainer {
  position: relative;

}

.submit {
  border-radius: 10px;
  width: 100%;
  margin: 0 1rem;
  padding: 1rem;
  background-color: var(--rose);
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow_holder {
  background: var(--dark_rose);
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.7rem;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}