.container {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tytul{
  text-align: center;
}

.code_inputs {
  display: flex;
  gap: .5rem;
  justify-content: center;
}

.numberInput {
  border-radius: 10px;
  height: 30px;
  width: 3rem;
  padding: .5rem 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  border: 1px solid var(--light_gray);
}

.form {
  margin: auto;
  width: 280px;
  display: flex;
  flex-direction: column;
}

.submitContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.inputContainer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit {
  border-radius: 10px;
  width: 90%;
  height: 40px;
  padding-top:10px;
  background-color: #3D30A2;
  color: white;
  margin: auto;
}

.img2 {
  width: 16px;
  height: 16px;
  right: 20px;
  position: absolute;
}
